[submodule "BERT"]
	path = BERT
	url = git@github.com:Cliffest/BERT.git
	branch = main
[submodule "EVE"]
	path = EVE
	url = git@github.com:OATML-Markslab/EVE.git
	branch = main
[submodule "GPT"]
	path = GPT
	url = git@github.com:jiangyuan1018/GPT.git
	branch = main
